/**
 * @file view/theme/frio/css/cover_photo_widget.css
 * @brief The style sheet for the cover photo widget
 */

#cover-photo {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}
#cover-photo-caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 1rem;
}
#cover-photo-caption h1,
#cover-photo-caption h3 {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    margin-top: 0;
}
#cover-photo-caption h1 {
    font-size: 2em;
}
#cover-photo-caption h3 {
    font-size: 1.15em;
}
#nav-cover {
    position:relative;
}
#topbar-second.nav-scrollable {
    position: relative;
    top: 0;
}
